name: Node.js CI

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build Image
      run: docker build -t airborne-management-service:latest . 
      env:
        DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
    - name: Push Image to Docker
      run: |
        echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u array2002 --password-stdin
        docker tag airborne-management-service:latest array2002/airborne-management-service:latest
        docker push array2002/airborne-management-service:latest
